.discover-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.discover-canvas-container {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    font-size: 0;
}

.discover-button-span {
    font-family: 'Yuji Syuku';
    font-size: 110%;
}

.discover-button {
    width: 100%;
    height: 50px;
    background: black;
    border: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Roboto';
    font-size: 90%;
    border-radius: 7px;
    cursor: pointer;
}

.discover-button.disabled {
    opacity: 0.4;
    color: rgb(137, 134, 134);
    pointer-events: none;
}

.discover-clear-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.discover-pedestals {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.discover-pedestal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: rgb(255, 255, 255);
    border: none;
    box-shadow: 0 0 3px 1px rgb(187, 187, 187);
    text-transform: uppercase;
    color: black;
    font-family: 'Yuji Syuku';
    font-size: 120%;
    border-radius: 7px;
    box-sizing: border-box;
}

.new-character-container {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
}

.new-character-image {
    height: 100%    ;
    opacity: 0.5;
}

.new-character-image-label {
    position: absolute;
    font-family: 'Yuji Syuku';
    font-size: 10vh;
    color: #333;
}

.new-character-translation-label {
    font-family: 'Roboto';
    text-transform: uppercase;
    color: #212121;
}