.definition-container {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
    position: relative;
}

.definition-image {
    height: 100%;
    opacity: 0.5;
}

.definition-image-label {
    position: absolute !important;
    font-family: 'Yuji Syuku';
    font-size: 10vh;
    color: #333;
}

.definition-translation-label {
    font-family: 'Roboto';
    text-transform: uppercase;
    color: #212121;
}

.stroke-order-section {
    margin-top: 50px;
}

.stroke-order-section video {
    height: 30vh;
}