.tip-container {
    width: 100%;
    background-color: #D3E8F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-sizing: border-box;
    border-radius: 7px;
    border: solid 2px #608DAB;
    color: #608DAB;
    gap: 25px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.tip-text {
    line-height: 160%;
}

.tip-close {
    font-size: 16pt;
    cursor: pointer;
}